<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--MAIN CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainfilter.css') }}">    
    <title>Filter</title>
</head>
<body>
    
    <h3>User: "{{session["username"]}}"</h3>
    <h2>Here you can search by filter: songs, album, artists, etc.</h2>
    <hr>
    <h2>Please enter what you want to search for</h2>
    <form class="form" action="/search" method="post">
        <input type="search" name="fil">
        <button type="submit" name="ok">Search</button>
    </form>
    
    <section>
        <div class="container">
            
            {% if dataFilter|length > 0 %}
                
                {% for artist in dataFilter %}
                    
                    <div class="card">
                        
                        <h1>{{artist['album']}}</h1>
                        <p>Song: {{artist['track']}}</p>
                        <p>From: {{artist['artist']}}</p>

                    </div>
                    
                {% endfor %}
                
            {% else %}
                
                {% for artist in x %}
                <div class="card">
                    
                    <h1 class="h1">{{artist['album']}}</h1>
                    <p class="par">From: {{artist['artist']}}</p>

                </div>
                {% endfor %}
                
            {% endif %}
        </div>
    </section>
    
    <button class="logout"><a href="{{url_for('logout')}}">Logout</a></button>
    
</body>
</html>
